[package]
name = "entity"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
sea-orm = { version = "0.11.0", features = [ "sqlx-postgres", "runtime-tokio-rustls", "macros", "debug-print", "mock", "with-chrono", "with-json", "postgres-array"] }
